body {
    background: #f2f2f2;
}

.home-footer-p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 9px;
}

.app-footer-p {
    color: rgba(179, 179, 179, 0.9);
    font-size: 9px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

#plans-list .editing {
    display: none;
}

#nodes-list .editing {
    display: none;
}

hr.hr-divider {
    border: 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.nodes-container {
    /*width: 80%;*/
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;    
}

.nodes-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1;
}

.timeline-node {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;    
}

.nodes-container .timeline-node:nth-child(even) {
    float: right;
}

.nodes-container .timeline-node:nth-child(odd) {
    float: left;
    direction: rtl;
}

.nodes-container .timeline-node:nth-child(odd) p {
    direction: ltr;
}

.timeline-token {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 1000;
}

.timeline-node-content {
    width: 95%;
    padding: 0 15px;
    color: #666;
}

.timeline-node-content h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 500;
}

.timeline-node-content .node-datetime {
    font-size: 0.6rem;
    color: #a4a4a4;
}

.timeline-node-content p {
    font-size: 0.8rem;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
    clear: both;
}

.material-icons.md-18 { 
    font-size: 18px; 
}

.material-icons.warning-orange { 
    color: #ffd699; 
}

@media screen and (max-width: 1024px) {
    .nodes-container:before {
        left: 8px;
        width: 2px;
   }

    .timeline-node {
        width: 100%;
        margin-bottom: 30px;
   }

    /*.timeline-node-right {
        float: none;
   }

    .timeline-node-left {
        float: none;
        direction: ltr;
   }*/

    .nodes-container .timeline-node:nth-child(even) {
        float: none;
   }

    .nodes-container .timeline-node:nth-child(odd) {
        float: none;
        direction: ltr;
   }
}